In [1]:
import os
import glob
import re
from pathlib import Path

import pandas as pd
import numpy as np
import pymysql

In [8]:
import os
import glob
import re
from pathlib import Path

import pandas as pd
import numpy as np
import pymysql


# =========================
# âœ… ì„¤ì •(ì—¬ê¸°ë§Œ ìˆ˜ì •)
# =========================
ROOT_DIR = r"C:\Users\user\Documents\ì„œìš¸ì‹œ_í¬í´\ì„œìš¸ì‹œìœ ë™ì¸êµ¬_ìŠ¤ëƒ…ìƒ·"  # 2023/2024/2025 í´ë”ê°€ ìˆëŠ” ìƒìœ„ ê²½ë¡œ

MYSQL = dict(
    host="localhost",
    user="root",
    password="********",
    db="seoul",
    port=3306,
    charset="utf8mb4",
    autocommit=False
)

TABLE = "stg_metro_people_snapshot"


# =========================
# ë‚´ë¶€ ìœ í‹¸
# =========================
def read_csv_with_encoding(path: str) -> pd.DataFrame:
    """ì„œìš¸ì‹œ CSVì—ì„œ í”í•œ ì¸ì½”ë”©ì„ ìˆœì„œëŒ€ë¡œ ì‹œë„"""
    for enc in ("utf-8-sig", "cp949", "euc-kr"):
        try:
            return pd.read_csv(path, encoding=enc)
        except Exception:
            continue
    raise ValueError(f"ì¸ì½”ë”© ì‹¤íŒ¨: {path}")


def clean_columns(df: pd.DataFrame) -> pd.DataFrame:
    """ì»¬ëŸ¼ëª…ì—ì„œ ?, " ì œê±° + ê³µë°± ì œê±°"""
    df = df.copy()
    df.columns = (df.columns.astype(str)
                  .str.replace('"', '', regex=False)
                  .str.replace('?', '', regex=False)
                  .str.strip())
    return df


def preprocess(df: pd.DataFrame) -> pd.DataFrame:
    """* -> NULL, ìˆ«ìí˜• ë³€í™˜, ê¸°ì¤€ì¼ ìƒì„±"""
    df = df.copy()

    # ë¹„ì‹ë³„ ì²˜ë¦¬(*) -> NaN
    df = df.replace('*', np.nan)

    # ê¸°ì¤€ì¼ID -> ê¸°ì¤€ì¼(DATE)
    if "ê¸°ì¤€ì¼ID" in df.columns:
        df["ê¸°ì¤€ì¼"] = pd.to_datetime(df["ê¸°ì¤€ì¼ID"].astype(str), format="%Y%m%d", errors="coerce")
    else:
        df["ê¸°ì¤€ì¼"] = pd.NaT

    # ìˆ«ìí˜• ë³€í™˜(í‚¤ ì»¬ëŸ¼ ì œì™¸)
    key_cols = ["ê¸°ì¤€ì¼ID", "ì‹œê°„ëŒ€êµ¬ë¶„", "í–‰ì •ë™ì½”ë“œ", "ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ"]
    for c in df.columns:
        if c in key_cols or c == "ê¸°ì¤€ì¼":
            continue
        df[c] = pd.to_numeric(df[c], errors="coerce")

    return df


def iter_snapshot_files(root_dir: str):
    """2023/2024/2025 í•˜ìœ„ì˜ METRO_PEOPLE_*.csv ì „ë¶€ ìˆœíšŒ"""
    root = Path(root_dir)
    for year_dir in sorted([p for p in root.iterdir() if p.is_dir() and p.name.isdigit()]):
        # íŒŒì¼ëª…ì´ METRO_PEOPLE_YYYYMMDD.csv í˜•íƒœë¼ê³  í–ˆìœ¼ë‹ˆ ì´ íŒ¨í„´ë§Œ ìš°ì„ 
        for path in sorted(year_dir.glob("METRO_PEOPLE_*.csv")):
            yield str(path)


def get_insert_sql(cols):
    col_sql = ",".join([f"`{c}`" for c in cols])
    placeholders = ",".join(["%s"] * len(cols))

    # ì¤‘ë³µí‚¤(ê¸°ì¤€ì¼ID,ì‹œê°„ëŒ€êµ¬ë¶„,í–‰ì •ë™ì½”ë“œ,ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ)ëŠ” ì—…ë°ì´íŠ¸ ì œì™¸
    key_set = {"ê¸°ì¤€ì¼ID", "ì‹œê°„ëŒ€êµ¬ë¶„", "í–‰ì •ë™ì½”ë“œ", "ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ"}
    update_cols = [c for c in cols if c not in key_set]
    update_sql = ",".join([f"`{c}`=VALUES(`{c}`)" for c in update_cols])

    sql = f"""
    INSERT INTO {TABLE} ({col_sql})
    VALUES ({placeholders})
    ON DUPLICATE KEY UPDATE
    ê¸°ì¤€ì¼ID = ê¸°ì¤€ì¼ID
    """
    return sql


def load_one_file(conn, path: str, chunk_size=10000):
    df = read_csv_with_encoding(path)
    df = clean_columns(df)

    # âœ… í‚¤ ì»¬ëŸ¼ ì¡´ì¬ í™•ì¸
    required = {"ê¸°ì¤€ì¼ID", "ì‹œê°„ëŒ€êµ¬ë¶„", "í–‰ì •ë™ì½”ë“œ", "ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ"}
    missing = required - set(df.columns)
    if missing:
        raise ValueError(f"í•„ìˆ˜ ì»¬ëŸ¼ ëˆ„ë½ {missing} in {path}")

    # =========================
    # 1ï¸âƒ£ ì „ì²˜ë¦¬
    # =========================
    df = preprocess(df)

    # =========================
    # 2ï¸âƒ£ ğŸ”’ ìœ ë‹ˆí¬í‚¤ ì»¬ëŸ¼ NULL ë°©ì§€ (ì—¬ê¸°ì—!)
    # =========================
    df = df.dropna(subset=[
        "ê¸°ì¤€ì¼ID",
        "ì‹œê°„ëŒ€êµ¬ë¶„",
        "í–‰ì •ë™ì½”ë“œ",
        "ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ"
    ])

    # =========================
    # 3ï¸âƒ£ ë©”íƒ€ ì •ë³´ ì¶”ê°€ (ê·¸ ë‹¤ìŒ!)
    # =========================
    df["source_file"] = os.path.basename(path)

    # =========================
    # 4ï¸âƒ£ DB ì»¬ëŸ¼ ìˆœì„œ ì •ì˜
    # =========================
    cols = [
        "ê¸°ì¤€ì¼ID","ê¸°ì¤€ì¼","ì‹œê°„ëŒ€êµ¬ë¶„","í–‰ì •ë™ì½”ë“œ","ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ",
        "ìƒí™œì¸êµ¬ìˆœìœ„","ì´ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì10ì„¸ë¶€í„°14ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì15ì„¸ë¶€í„°19ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì20ì„¸ë¶€í„°24ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì25ì„¸ë¶€í„°29ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì30ì„¸ë¶€í„°34ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì35ì„¸ë¶€í„°39ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì40ì„¸ë¶€í„°44ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì45ì„¸ë¶€í„°49ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì50ì„¸ë¶€í„°54ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì55ì„¸ë¶€í„°59ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì60ì„¸ë¶€í„°64ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì65ì„¸ë¶€í„°69ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì70ì„¸ë¶€í„°74ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì75ì„¸ë¶€í„°79ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì10ì„¸ë¶€í„°14ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì15ì„¸ë¶€í„°19ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì20ì„¸ë¶€í„°24ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì25ì„¸ë¶€í„°29ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì30ì„¸ë¶€í„°34ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì35ì„¸ë¶€í„°39ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì40ì„¸ë¶€í„°44ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì45ì„¸ë¶€í„°49ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì50ì„¸ë¶€í„°54ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì55ì„¸ë¶€í„°59ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì60ì„¸ë¶€í„°64ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì65ì„¸ë¶€í„°69ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì70ì„¸ë¶€í„°74ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì75ì„¸ë¶€í„°79ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì¥ê¸°ì²´ë¥˜ì™¸êµ­ì¸ìˆ˜",
        "source_file"
    ]

    # =========================
    # 5ï¸âƒ£ DATE ì»¬ëŸ¼ ë¬¸ìì—´í™”
    # =========================
    df["ê¸°ì¤€ì¼"] = df["ê¸°ì¤€ì¼"].dt.strftime("%Y-%m-%d")

    # =========================
    # 6ï¸âƒ£ NaN/NA/NaT â†’ None (pymysql ì•ˆì „)
    # =========================
    sub = df[cols].copy()
    sub = sub.astype(object).where(pd.notnull(sub), None)
    data = [tuple(x) for x in sub.to_numpy()]

    sql = get_insert_sql(cols)

    with conn.cursor() as cur:
        for i in range(0, len(data), chunk_size):
            cur.executemany(sql, data[i:i+chunk_size])
            
    conn.commit()   # âœ… íŒŒì¼ í•˜ë‚˜ ëë‚˜ë©´ ì»¤ë°‹
    
    return len(df)


def main():
    conn = pymysql.connect(**MYSQL)

    ok, fail = 0, 0
    total_rows = 0

    for path in iter_snapshot_files(ROOT_DIR):
        try:
            n = load_one_file(conn, path)
            ok += 1
            total_rows += n
            print(f"[OK] {os.path.basename(path)}  rows={n}")
        except Exception as e:
            fail += 1
            print(f"[FAIL] {path}  -> {e}")

    conn.close()
    print("=====================================")
    print(f"files ok={ok}, fail={fail}, total_rows_inserted={total_rows}")
    print("done")

if __name__ == "__main__":
    main()

KeyboardInterrupt:

In [9]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import pymysql


# =========================
# ğŸ”§ ì„¤ì • (ì—¬ê¸°ë§Œ ìˆ˜ì •)
# =========================
ROOT_DIR = r"C:\Users\user\Documents\ì„œìš¸ì‹œ_í¬í´\ì„œìš¸ì‹œìœ ë™ì¸êµ¬_ìŠ¤ëƒ…ìƒ·"

MYSQL = dict(
    host="localhost",
    user="root",
    password="Abcd1234!",
    db="seoul",
    port=3306,
    charset="utf8mb4",
    autocommit=False   # â­ ì¤‘ìš”
)

TABLE = "stg_metro_people_snapshot"
CHUNK_SIZE = 20000


# =========================
# ìœ í‹¸ í•¨ìˆ˜
# =========================
def read_csv_auto_encoding(path):
    for enc in ("utf-8-sig", "cp949", "euc-kr"):
        try:
            return pd.read_csv(path, encoding=enc)
        except Exception:
            pass
    raise ValueError(f"ì¸ì½”ë”© ì‹¤íŒ¨: {path}")


def clean_columns(df):
    df.columns = (
        df.columns.astype(str)
        .str.replace('"', '', regex=False)
        .str.replace('?', '', regex=False)
        .str.strip()
    )
    return df


def preprocess(df):
    # * â†’ NaN
    df = df.replace('*', np.nan)

    # ê¸°ì¤€ì¼
    df["ê¸°ì¤€ì¼"] = pd.to_datetime(
        df["ê¸°ì¤€ì¼ID"].astype(str),
        format="%Y%m%d",
        errors="coerce"
    )

    # ìˆ«ìí˜• ë³€í™˜
    key_cols = ["ê¸°ì¤€ì¼ID", "ì‹œê°„ëŒ€êµ¬ë¶„", "í–‰ì •ë™ì½”ë“œ", "ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ"]
    for c in df.columns:
        if c not in key_cols + ["ê¸°ì¤€ì¼"]:
            df[c] = pd.to_numeric(df[c], errors="coerce")

    return df


def iter_files(root):
    root = Path(root)
    for y in sorted(p for p in root.iterdir() if p.is_dir()):
        for f in sorted(y.glob("METRO_PEOPLE_*.csv")):
            yield str(f)


def get_insert_sql(cols):
    col_sql = ",".join(f"`{c}`" for c in cols)
    placeholders = ",".join(["%s"] * len(cols))
    return f"INSERT IGNORE INTO {TABLE} ({col_sql}) VALUES ({placeholders})"


# =========================
# í•µì‹¬ ë¡œë”
# =========================
def load_one_file(conn, path):
    print(f"\n[START] {os.path.basename(path)}")

    df = read_csv_auto_encoding(path)
    df = clean_columns(df)

    # í•„ìˆ˜ í‚¤ ì²´í¬
    required = {"ê¸°ì¤€ì¼ID", "ì‹œê°„ëŒ€êµ¬ë¶„", "í–‰ì •ë™ì½”ë“œ", "ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ"}
    if not required.issubset(df.columns):
        raise ValueError(f"í•„ìˆ˜ ì»¬ëŸ¼ ëˆ„ë½: {required - set(df.columns)}")

    df = preprocess(df)

    # ğŸ”’ ìœ ë‹ˆí¬í‚¤ NULL ë°©ì§€
    df = df.dropna(subset=[
        "ê¸°ì¤€ì¼ID", "ì‹œê°„ëŒ€êµ¬ë¶„", "í–‰ì •ë™ì½”ë“œ", "ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ"
    ])

    df["source_file"] = os.path.basename(path)
    df["ê¸°ì¤€ì¼"] = df["ê¸°ì¤€ì¼"].dt.strftime("%Y-%m-%d")

    cols = [
        "ê¸°ì¤€ì¼ID","ê¸°ì¤€ì¼","ì‹œê°„ëŒ€êµ¬ë¶„","í–‰ì •ë™ì½”ë“œ","ëŒ€ë„ì‹œê¶Œê±°ì£¼ì§€ì½”ë“œ",
        "ìƒí™œì¸êµ¬ìˆœìœ„","ì´ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì10ì„¸ë¶€í„°14ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì15ì„¸ë¶€í„°19ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì20ì„¸ë¶€í„°24ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì25ì„¸ë¶€í„°29ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì30ì„¸ë¶€í„°34ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì35ì„¸ë¶€í„°39ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì40ì„¸ë¶€í„°44ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì45ì„¸ë¶€í„°49ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì50ì„¸ë¶€í„°54ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì55ì„¸ë¶€í„°59ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì60ì„¸ë¶€í„°64ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì65ì„¸ë¶€í„°69ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ë‚¨ì70ì„¸ë¶€í„°74ì„¸ìƒí™œì¸êµ¬ìˆ˜","ë‚¨ì75ì„¸ë¶€í„°79ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì10ì„¸ë¶€í„°14ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì15ì„¸ë¶€í„°19ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì20ì„¸ë¶€í„°24ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì25ì„¸ë¶€í„°29ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì30ì„¸ë¶€í„°34ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì35ì„¸ë¶€í„°39ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì40ì„¸ë¶€í„°44ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì45ì„¸ë¶€í„°49ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì50ì„¸ë¶€í„°54ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì55ì„¸ë¶€í„°59ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì60ì„¸ë¶€í„°64ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì65ì„¸ë¶€í„°69ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì—¬ì70ì„¸ë¶€í„°74ì„¸ìƒí™œì¸êµ¬ìˆ˜","ì—¬ì75ì„¸ë¶€í„°79ì„¸ìƒí™œì¸êµ¬ìˆ˜",
        "ì¥ê¸°ì²´ë¥˜ì™¸êµ­ì¸ìˆ˜",
        "source_file"
    ]

    # NaN/NA/NaT â†’ None
    sub = df[cols].astype(object).where(pd.notnull(df[cols]), None)
    data = [tuple(r) for r in sub.to_numpy()]

    sql = get_insert_sql(cols)

    with conn.cursor() as cur:
        for i in range(0, len(data), CHUNK_SIZE):
            cur.executemany(sql, data[i:i+CHUNK_SIZE])
            print(f"  inserted {min(i+CHUNK_SIZE, len(data))}/{len(data)}")

    conn.commit()
    print(f"[DONE] {os.path.basename(path)} rows={len(df)}")


# =========================
# main
# =========================
def main():
    conn = pymysql.connect(**MYSQL)

    ok, fail = 0, 0
    for path in iter_files(ROOT_DIR):
        try:
            load_one_file(conn, path)
            ok += 1
        except Exception as e:
            fail += 1
            print(f"[FAIL] {path} -> {e}")

    conn.close()
    print("\n===================================")
    print(f"files ok={ok}, fail={fail}")
    print("ALL DONE")


if __name__ == "__main__":
    main()

[START] METRO_PEOPLE_20230116.csv
  inserted 20000/591407
  inserted 40000/591407
  inserted 60000/591407
  inserted 80000/591407
  inserted 100000/591407
  inserted 120000/591407
  inserted 140000/591407
  inserted 160000/591407
  inserted 180000/591407
  inserted 200000/591407
  inserted 220000/591407
  inserted 240000/591407
  inserted 260000/591407
  inserted 280000/591407
  inserted 300000/591407
  inserted 320000/591407
  inserted 340000/591407
  inserted 360000/591407
  inserted 380000/591407
  inserted 400000/591407
  inserted 420000/591407
  inserted 440000/591407
  inserted 460000/591407
  inserted 480000/591407
  inserted 500000/591407
  inserted 520000/591407
  inserted 540000/591407
  inserted 560000/591407
  inserted 580000/591407
  inserted 591407/591407
[DONE] METRO_PEOPLE_20230116.csv rows=591407

[START] METRO_PEOPLE_20230215.csv
  inserted 20000/586627
  inserted 40000/586627
  inserted 60000/586627
  inserted 80000/586627
  inserted 100000/586627
  inserted 120000/586627
  inserted 140000/586627
  inserted 160000/586627
  inserted 180000/586627
  inserted 200000/586627
  inserted 220000/586627
  inserted 240000/586627
  inserted 260000/586627
  inserted 280000/586627
  inserted 300000/586627
  inserted 320000/586627
  inserted 340000/586627
  inserted 360000/586627
  inserted 380000/586627
  inserted 400000/586627
  inserted 420000/586627
  inserted 440000/586627
  inserted 460000/586627
  inserted 480000/586627
  inserted 500000/586627
  inserted 520000/586627
  inserted 540000/586627
  inserted 560000/586627
  inserted 580000/586627
  inserted 586627/586627
[DONE] METRO_PEOPLE_20230215.csv rows=586627

[START] METRO_PEOPLE_20230315.csv
  inserted 20000/584147
  inserted 40000/584147
  inserted 60000/584147
  inserted 80000/584147
  inserted 100000/584147
  inserted 120000/584147
  inserted 140000/584147
  inserted 160000/584147
  inserted 180000/584147
  inserted 200000/584147
  inserted 220000/584147
  inserted 240000/584147
  inserted 260000/584147
  inserted 280000/584147
  inserted 300000/584147
  inserted 320000/584147
  inserted 340000/584147
  inserted 360000/584147
  inserted 380000/584147
  inserted 400000/584147
  inserted 420000/584147
  inserted 440000/584147
  inserted 460000/584147
  inserted 480000/584147
  inserted 500000/584147
  inserted 520000/584147
  inserted 540000/584147
  inserted 560000/584147
  inserted 580000/584147
  inserted 584147/584147
[DONE] METRO_PEOPLE_20230315.csv rows=584147

[START] METRO_PEOPLE_20230417.csv
  inserted 20000/596164
  inserted 40000/596164
  inserted 60000/596164
  inserted 80000/596164
  inserted 100000/596164
  inserted 120000/596164
  inserted 140000/596164
  inserted 160000/596164
  inserted 180000/596164
  inserted 200000/596164
  inserted 220000/596164
  inserted 240000/596164
  inserted 260000/596164
  inserted 280000/596164
  inserted 300000/596164
  inserted 320000/596164
  inserted 340000/596164
  inserted 360000/596164
  inserted 380000/596164
  inserted 400000/596164
  inserted 420000/596164
  inserted 440000/596164
  inserted 460000/596164
  inserted 480000/596164
  inserted 500000/596164
  inserted 520000/596164
  inserted 540000/596164
  inserted 560000/596164
  inserted 580000/596164
  inserted 596164/596164
[DONE] METRO_PEOPLE_20230417.csv rows=596164

[START] METRO_PEOPLE_20230515.csv
  inserted 20000/588482
  inserted 40000/588482
  inserted 60000/588482
  inserted 80000/588482
  inserted 100000/588482
  inserted 120000/588482
  inserted 140000/588482
  inserted 160000/588482
  inserted 180000/588482
  inserted 200000/588482
  inserted 220000/588482
  inserted 240000/588482
  inserted 260000/588482
  inserted 280000/588482
  inserted 300000/588482
  inserted 320000/588482
  inserted 340000/588482
  inserted 360000/588482
  inserted 380000/588482
  inserted 400000/588482
  inserted 420000/588482
  inserted 440000/588482
  inserted 460000/588482
  inserted 480000/588482
  inserted 500000/588482
  inserted 520000/588482
  inserted 540000/588482
  inserted 560000/588482
  inserted 580000/588482
  inserted 588482/588482
[DONE] METRO_PEOPLE_20230515.csv rows=588482

[START] METRO_PEOPLE_20230615.csv
  inserted 20000/580574
  inserted 40000/580574
  inserted 60000/580574
  inserted 80000/580574
  inserted 100000/580574
  inserted 120000/580574
  inserted 140000/580574
  inserted 160000/580574
  inserted 180000/580574
  inserted 200000/580574
  inserted 220000/580574
  inserted 240000/580574
  inserted 260000/580574
  inserted 280000/580574
  inserted 300000/580574
  inserted 320000/580574
  inserted 340000/580574
  inserted 360000/580574
  inserted 380000/580574
  inserted 400000/580574
  inserted 420000/580574
  inserted 440000/580574
  inserted 460000/580574
  inserted 480000/580574
  inserted 500000/580574
  inserted 520000/580574
  inserted 540000/580574
  inserted 560000/580574
  inserted 580000/580574
  inserted 580574/580574
[DONE] METRO_PEOPLE_20230615.csv rows=580574

[START] METRO_PEOPLE_20230717.csv
  inserted 20000/595490
  inserted 40000/595490
  inserted 60000/595490
  inserted 80000/595490
  inserted 100000/595490
  inserted 120000/595490
  inserted 140000/595490
  inserted 160000/595490
  inserted 180000/595490
  inserted 200000/595490
  inserted 220000/595490
  inserted 240000/595490
  inserted 260000/595490
  inserted 280000/595490
  inserted 300000/595490
  inserted 320000/595490
  inserted 340000/595490
  inserted 360000/595490
  inserted 380000/595490
  inserted 400000/595490
  inserted 420000/595490
  inserted 440000/595490
  inserted 460000/595490
  inserted 480000/595490
  inserted 500000/595490
  inserted 520000/595490
  inserted 540000/595490
  inserted 560000/595490
  inserted 580000/595490
  inserted 595490/595490
[DONE] METRO_PEOPLE_20230717.csv rows=595490

[START] METRO_PEOPLE_20230829.csv
  inserted 20000/589177
  inserted 40000/589177
  inserted 60000/589177
  inserted 80000/589177
  inserted 100000/589177
  inserted 120000/589177
  inserted 140000/589177
  inserted 160000/589177
  inserted 180000/589177
  inserted 200000/589177
  inserted 220000/589177
  inserted 240000/589177
  inserted 260000/589177
  inserted 280000/589177
  inserted 300000/589177
  inserted 320000/589177
  inserted 340000/589177
  inserted 360000/589177
  inserted 380000/589177
  inserted 400000/589177
  inserted 420000/589177
  inserted 440000/589177
  inserted 460000/589177
  inserted 480000/589177
  inserted 500000/589177
  inserted 520000/589177
  inserted 540000/589177
  inserted 560000/589177
  inserted 580000/589177
  inserted 589177/589177
[DONE] METRO_PEOPLE_20230829.csv rows=589177

[START] METRO_PEOPLE_20230915.csv
  inserted 20000/598919
  inserted 40000/598919
  inserted 60000/598919
  inserted 80000/598919
  inserted 100000/598919
  inserted 120000/598919
  inserted 140000/598919
  inserted 160000/598919
  inserted 180000/598919
  inserted 200000/598919
  inserted 220000/598919
  inserted 240000/598919
  inserted 260000/598919
  inserted 280000/598919
  inserted 300000/598919
  inserted 320000/598919
  inserted 340000/598919
  inserted 360000/598919
  inserted 380000/598919
  inserted 400000/598919
  inserted 420000/598919
  inserted 440000/598919
  inserted 460000/598919
  inserted 480000/598919
  inserted 500000/598919
  inserted 520000/598919
  inserted 540000/598919
  inserted 560000/598919
  inserted 580000/598919
  inserted 598919/598919
[DONE] METRO_PEOPLE_20230915.csv rows=598919

[START] METRO_PEOPLE_20231016.csv
  inserted 20000/593906
  inserted 40000/593906
  inserted 60000/593906
  inserted 80000/593906
  inserted 100000/593906
  inserted 120000/593906
  inserted 140000/593906
  inserted 160000/593906
  inserted 180000/593906
  inserted 200000/593906
  inserted 220000/593906
  inserted 240000/593906
  inserted 260000/593906
  inserted 280000/593906
  inserted 300000/593906
  inserted 320000/593906
  inserted 340000/593906
  inserted 360000/593906
  inserted 380000/593906
  inserted 400000/593906
  inserted 420000/593906
  inserted 440000/593906
  inserted 460000/593906
  inserted 480000/593906
  inserted 500000/593906
  inserted 520000/593906
  inserted 540000/593906
  inserted 560000/593906
  inserted 580000/593906
  inserted 593906/593906
[DONE] METRO_PEOPLE_20231016.csv rows=593906

[START] METRO_PEOPLE_20231115.csv
[FAIL] C:\Users\user\Documents\ì„œìš¸ì‹œ_í¬í´\ì„œìš¸ì‹œìœ ë™ì¸êµ¬_ìŠ¤ëƒ…ìƒ·\2023\METRO_PEOPLE_20231115.csv -> Unable to allocate 16.9 MiB for an array with shape (29, 609649) and data type bool

[START] METRO_PEOPLE_20231215.csv
  inserted 20000/632239
  inserted 40000/632239
  inserted 60000/632239
  inserted 80000/632239
  inserted 100000/632239
  inserted 120000/632239
  inserted 140000/632239
  inserted 160000/632239
  inserted 180000/632239
  inserted 200000/632239
  inserted 220000/632239
  inserted 240000/632239
  inserted 260000/632239
  inserted 280000/632239
  inserted 300000/632239
  inserted 320000/632239
  inserted 340000/632239
  inserted 360000/632239
  inserted 380000/632239
  inserted 400000/632239
  inserted 420000/632239
  inserted 440000/632239
  inserted 460000/632239
  inserted 480000/632239
  inserted 500000/632239
  inserted 520000/632239
  inserted 540000/632239
  inserted 560000/632239
  inserted 580000/632239
  inserted 600000/632239
  inserted 620000/632239
  inserted 632239/632239
[DONE] METRO_PEOPLE_20231215.csv rows=632239

[START] METRO_PEOPLE_20240115.csv
  inserted 20000/642221
  inserted 40000/642221
  inserted 60000/642221
  inserted 80000/642221
  inserted 100000/642221
  inserted 120000/642221
  inserted 140000/642221
  inserted 160000/642221
  inserted 180000/642221
  inserted 200000/642221
  inserted 220000/642221
  inserted 240000/642221
  inserted 260000/642221
  inserted 280000/642221
  inserted 300000/642221
  inserted 320000/642221
  inserted 340000/642221
  inserted 360000/642221
  inserted 380000/642221
  inserted 400000/642221
  inserted 420000/642221
  inserted 440000/642221
  inserted 460000/642221
  inserted 480000/642221
  inserted 500000/642221
  inserted 520000/642221
  inserted 540000/642221
  inserted 560000/642221
  inserted 580000/642221
  inserted 600000/642221
  inserted 620000/642221
  inserted 640000/642221
  inserted 642221/642221
[DONE] METRO_PEOPLE_20240115.csv rows=642221

[START] METRO_PEOPLE_20240215.csv
  inserted 20000/630949
  inserted 40000/630949
  inserted 60000/630949
  inserted 80000/630949
  inserted 100000/630949
  inserted 120000/630949
  inserted 140000/630949
  inserted 160000/630949
  inserted 180000/630949
  inserted 200000/630949
  inserted 220000/630949
  inserted 240000/630949
  inserted 260000/630949
  inserted 280000/630949
  inserted 300000/630949
  inserted 320000/630949
  inserted 340000/630949
  inserted 360000/630949
  inserted 380000/630949
  inserted 400000/630949
  inserted 420000/630949
  inserted 440000/630949
  inserted 460000/630949
  inserted 480000/630949
  inserted 500000/630949
  inserted 520000/630949
  inserted 540000/630949
  inserted 560000/630949
  inserted 580000/630949
  inserted 600000/630949
  inserted 620000/630949
  inserted 630949/630949
[DONE] METRO_PEOPLE_20240215.csv rows=630949

[START] METRO_PEOPLE_20240315.csv
  inserted 20000/636876
  inserted 40000/636876
  inserted 60000/636876
  inserted 80000/636876
  inserted 100000/636876
  inserted 120000/636876
  inserted 140000/636876
  inserted 160000/636876
  inserted 180000/636876
  inserted 200000/636876
  inserted 220000/636876
  inserted 240000/636876
  inserted 260000/636876
  inserted 280000/636876
  inserted 300000/636876
  inserted 320000/636876
  inserted 340000/636876
  inserted 360000/636876
  inserted 380000/636876
  inserted 400000/636876
  inserted 420000/636876
  inserted 440000/636876
  inserted 460000/636876
  inserted 480000/636876
  inserted 500000/636876
  inserted 520000/636876
  inserted 540000/636876
  inserted 560000/636876
  inserted 580000/636876
  inserted 600000/636876
  inserted 620000/636876
  inserted 636876/636876
[DONE] METRO_PEOPLE_20240315.csv rows=636876

[START] METRO_PEOPLE_20240415.csv
  inserted 20000/610998
  inserted 40000/610998
  inserted 60000/610998
  inserted 80000/610998
  inserted 100000/610998
  inserted 120000/610998
  inserted 140000/610998
  inserted 160000/610998
  inserted 180000/610998
  inserted 200000/610998
  inserted 220000/610998
  inserted 240000/610998
  inserted 260000/610998
  inserted 280000/610998
  inserted 300000/610998
  inserted 320000/610998
  inserted 340000/610998
  inserted 360000/610998
  inserted 380000/610998
  inserted 400000/610998
  inserted 420000/610998
  inserted 440000/610998
  inserted 460000/610998
  inserted 480000/610998
  inserted 500000/610998
  inserted 520000/610998
  inserted 540000/610998
  inserted 560000/610998
  inserted 580000/610998
  inserted 600000/610998
  inserted 610998/610998
[DONE] METRO_PEOPLE_20240415.csv rows=610998

[START] METRO_PEOPLE_20240515.csv
  inserted 20000/602450
  inserted 40000/602450
  inserted 60000/602450
  inserted 80000/602450
  inserted 100000/602450
  inserted 120000/602450
  inserted 140000/602450
  inserted 160000/602450
  inserted 180000/602450
  inserted 200000/602450
  inserted 220000/602450
  inserted 240000/602450
  inserted 260000/602450
  inserted 280000/602450
  inserted 300000/602450
  inserted 320000/602450
  inserted 340000/602450
  inserted 360000/602450
  inserted 380000/602450
  inserted 400000/602450
  inserted 420000/602450
  inserted 440000/602450
  inserted 460000/602450
  inserted 480000/602450
  inserted 500000/602450
  inserted 520000/602450
  inserted 540000/602450
  inserted 560000/602450
  inserted 580000/602450
  inserted 600000/602450
  inserted 602450/602450
[DONE] METRO_PEOPLE_20240515.csv rows=602450

[START] METRO_PEOPLE_20240617.csv
  inserted 20000/601219
  inserted 40000/601219
  inserted 60000/601219
  inserted 80000/601219
  inserted 100000/601219
  inserted 120000/601219
  inserted 140000/601219
  inserted 160000/601219
  inserted 180000/601219
  inserted 200000/601219
  inserted 220000/601219
  inserted 240000/601219
  inserted 260000/601219
  inserted 280000/601219
  inserted 300000/601219
  inserted 320000/601219
  inserted 340000/601219
  inserted 360000/601219
  inserted 380000/601219
  inserted 400000/601219
  inserted 420000/601219
  inserted 440000/601219
  inserted 460000/601219
  inserted 480000/601219
  inserted 500000/601219
  inserted 520000/601219
  inserted 540000/601219
  inserted 560000/601219
  inserted 580000/601219
  inserted 600000/601219
  inserted 601219/601219
[DONE] METRO_PEOPLE_20240617.csv rows=601219

[START] METRO_PEOPLE_20240715.csv
  inserted 20000/604760
  inserted 40000/604760
  inserted 60000/604760
  inserted 80000/604760
  inserted 100000/604760
  inserted 120000/604760
  inserted 140000/604760
  inserted 160000/604760
  inserted 180000/604760
  inserted 200000/604760
  inserted 220000/604760
  inserted 240000/604760
  inserted 260000/604760
  inserted 280000/604760
  inserted 300000/604760
  inserted 320000/604760
  inserted 340000/604760
  inserted 360000/604760
  inserted 380000/604760
  inserted 400000/604760
  inserted 420000/604760
  inserted 440000/604760
  inserted 460000/604760
  inserted 480000/604760
  inserted 500000/604760
  inserted 520000/604760
  inserted 540000/604760
  inserted 560000/604760
  inserted 580000/604760
  inserted 600000/604760
  inserted 604760/604760
[DONE] METRO_PEOPLE_20240715.csv rows=604760

[START] METRO_PEOPLE_20240815.csv
  inserted 20000/629074
  inserted 40000/629074
  inserted 60000/629074
  inserted 80000/629074
  inserted 100000/629074
  inserted 120000/629074
  inserted 140000/629074
  inserted 160000/629074
  inserted 180000/629074
  inserted 200000/629074
  inserted 220000/629074
  inserted 240000/629074
  inserted 260000/629074
  inserted 280000/629074
  inserted 300000/629074
  inserted 320000/629074
  inserted 340000/629074
  inserted 360000/629074
  inserted 380000/629074
  inserted 400000/629074
  inserted 420000/629074
  inserted 440000/629074
  inserted 460000/629074
  inserted 480000/629074
  inserted 500000/629074
  inserted 520000/629074
  inserted 540000/629074
  inserted 560000/629074
  inserted 580000/629074
  inserted 600000/629074
  inserted 620000/629074
  inserted 629074/629074
[DONE] METRO_PEOPLE_20240815.csv rows=629074

[START] METRO_PEOPLE_20240916.csv
  inserted 20000/648245
  inserted 40000/648245
  inserted 60000/648245
  inserted 80000/648245
  inserted 100000/648245
  inserted 120000/648245
  inserted 140000/648245
  inserted 160000/648245
  inserted 180000/648245
  inserted 200000/648245
  inserted 220000/648245
  inserted 240000/648245
  inserted 260000/648245
  inserted 280000/648245
  inserted 300000/648245
  inserted 320000/648245
  inserted 340000/648245
  inserted 360000/648245
  inserted 380000/648245
  inserted 400000/648245
  inserted 420000/648245
  inserted 440000/648245
  inserted 460000/648245
  inserted 480000/648245
  inserted 500000/648245
  inserted 520000/648245
  inserted 540000/648245
  inserted 560000/648245
  inserted 580000/648245
  inserted 600000/648245
  inserted 620000/648245
  inserted 640000/648245
  inserted 648245/648245
[DONE] METRO_PEOPLE_20240916.csv rows=648245

[START] METRO_PEOPLE_20241015.csv
  inserted 20000/597814
  inserted 40000/597814
  inserted 60000/597814
  inserted 80000/597814
  inserted 100000/597814
  inserted 120000/597814
  inserted 140000/597814
  inserted 160000/597814
  inserted 180000/597814
  inserted 200000/597814
  inserted 220000/597814
  inserted 240000/597814
  inserted 260000/597814
  inserted 280000/597814
  inserted 300000/597814
  inserted 320000/597814
  inserted 340000/597814
  inserted 360000/597814
  inserted 380000/597814
  inserted 400000/597814
  inserted 420000/597814
  inserted 440000/597814
  inserted 460000/597814
  inserted 480000/597814
  inserted 500000/597814
  inserted 520000/597814
  inserted 540000/597814
  inserted 560000/597814
  inserted 580000/597814
  inserted 597814/597814
[DONE] METRO_PEOPLE_20241015.csv rows=597814

[START] METRO_PEOPLE_20241115.csv
  inserted 20000/621725
  inserted 40000/621725
  inserted 60000/621725
  inserted 80000/621725
  inserted 100000/621725
  inserted 120000/621725
  inserted 140000/621725
  inserted 160000/621725
  inserted 180000/621725
  inserted 200000/621725
  inserted 220000/621725
  inserted 240000/621725
  inserted 260000/621725
  inserted 280000/621725
  inserted 300000/621725
  inserted 320000/621725
  inserted 340000/621725
  inserted 360000/621725
  inserted 380000/621725
  inserted 400000/621725
  inserted 420000/621725
  inserted 440000/621725
  inserted 460000/621725
  inserted 480000/621725
  inserted 500000/621725
  inserted 520000/621725
  inserted 540000/621725
  inserted 560000/621725
  inserted 580000/621725
  inserted 600000/621725
  inserted 620000/621725
  inserted 621725/621725
[DONE] METRO_PEOPLE_20241115.csv rows=621725

[START] METRO_PEOPLE_20241216.csv
  inserted 20000/614226
  inserted 40000/614226
  inserted 60000/614226
  inserted 80000/614226
  inserted 100000/614226
  inserted 120000/614226
  inserted 140000/614226
  inserted 160000/614226
  inserted 180000/614226
  inserted 200000/614226
  inserted 220000/614226
  inserted 240000/614226
  inserted 260000/614226
  inserted 280000/614226
  inserted 300000/614226
  inserted 320000/614226
  inserted 340000/614226
  inserted 360000/614226
  inserted 380000/614226
  inserted 400000/614226
  inserted 420000/614226
  inserted 440000/614226
  inserted 460000/614226
  inserted 480000/614226
  inserted 500000/614226
  inserted 520000/614226
  inserted 540000/614226
  inserted 560000/614226
  inserted 580000/614226
  inserted 600000/614226
  inserted 614226/614226
[DONE] METRO_PEOPLE_20241216.csv rows=614226

[START] METRO_PEOPLE_20250115.csv
  inserted 20000/609569
  inserted 40000/609569
  inserted 60000/609569
  inserted 80000/609569
  inserted 100000/609569
  inserted 120000/609569
  inserted 140000/609569
  inserted 160000/609569