In [1]:
import pandas as pd

In [4]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import pymysql

In [5]:
df = pd.read_csv("C:/Users/user/Documents/μ„μΈμ‹_ν¬ν΄/λ²•μ •λ™μ½”λ“ μ „μ²΄μλ£.txt", encoding="cp949")

In [6]:
df

                          λ²•μ •λ™μ½”λ“\tλ²•μ •λ™λ…\tνμ§€μ—¬λ¶€
0                     1100000000\tμ„μΈνΉλ³„μ‹\tμ΅΄μ¬
1                 1111000000\tμ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬\tμ΅΄μ¬
2             1111010100\tμ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ²­μ΄λ™\tμ΅΄μ¬
3             1111010200\tμ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ‹ κµλ™\tμ΅΄μ¬
4             1111010300\tμ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ κ¶μ •λ™\tμ΅΄μ¬
...                                     ...
49845    5280042024\tμ „λ¶νΉλ³„μμΉλ„ λ¶€μ•κµ° μ„λ„λ©΄ λ€λ¦¬\tμ΅΄μ¬
49846   5280042025\tμ „λ¶νΉλ³„μμΉλ„ λ¶€μ•κµ° μ„λ„λ©΄ κ±°λ¥λ¦¬\tμ΅΄μ¬
49847   5280042026\tμ „λ¶νΉλ³„μμΉλ„ λ¶€μ•κµ° μ„λ„λ©΄ μ‹λ„λ¦¬\tμ΅΄μ¬
49848  5280042027\tμ „λ¶νΉλ³„μμΉλ„ λ¶€μ•κµ° μ„λ„λ©΄ μƒμ™•λ“±λ¦¬\tμ΅΄μ¬
49849  5280042028\tμ „λ¶νΉλ³„μμΉλ„ λ¶€μ•κµ° μ„λ„λ©΄ ν•μ™•λ“±λ¦¬\tμ΅΄μ¬

[49850 rows x 1 columns]

In [14]:
# β… dim_admin_dong λ°μ΄ν„° μ μ¬μ© μµμΆ… μ½”λ“ (μμ •λ³Έ)
# 0οΈβƒ£ μ „μ 

# νμΌ: λ²•μ •λ™μ½”λ“ μ „μ²΄μλ£.txt

# κµ¬λ¶„μ: \t

# μ»¬λΌ κµ¬μ΅°: λ²•μ •λ™μ½”λ“ / λ²•μ •λ™λ… / νμ§€μ—¬λ¶€

# fact ν…μ΄λΈ”μ ν–‰μ •λ™μ½”λ“λ” 8μλ¦¬

# dim ν…μ΄λΈ” PKλ„ 8μλ¦¬

In [13]:
# 1οΈβƒ£ νμΌ μ½κΈ° + μ»¬λΌ κ°•μ  λ¶„λ¦¬

In [7]:
import pandas as pd
import numpy as np
import pymysql

path = r"C:/Users/user/Documents/μ„μΈμ‹_ν¬ν΄/λ²•μ •λ™μ½”λ“ μ „μ²΄μλ£.txt"

# 1. μΌλ‹¨ κ·Έλ€λ΅ μ½κΈ° (μ§€κΈ μƒνƒ μ μ§€)
df = pd.read_csv(path, encoding="cp949")

# 2. μ»¬λΌμ΄ ν•λ‚λ©΄ νƒ­ κΈ°μ¤€μΌλ΅ κ°•μ  λ¶„λ¦¬
if len(df.columns) == 1:
    col = df.columns[0]
    df = df[col].astype(str).str.split("\t", expand=True)
    df.columns = ["λ²•μ •λ™μ½”λ“", "λ²•μ •λ™λ…", "νμ§€μ—¬λ¶€"]

# μ»¬λΌλ… μ •λ¦¬
df.columns = df.columns.str.strip()

df.head()

        λ²•μ •λ™μ½”λ“           λ²•μ •λ™λ… νμ§€μ—¬λ¶€
0  1100000000          μ„μΈνΉλ³„μ‹   μ΅΄μ¬
1  1111000000      μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬   μ΅΄μ¬
2  1111010100  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ²­μ΄λ™   μ΅΄μ¬
3  1111010200  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ‹ κµλ™   μ΅΄μ¬
4  1111010300  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ κ¶μ •λ™   μ΅΄μ¬

In [15]:
# 2οΈβƒ£ μ „μ²λ¦¬ (μ„μΈ + νμ§€ μ μ™Έ)

In [8]:
df = df.copy()

# μ«μν• λ³€ν™
df["λ²•μ •λ™μ½”λ“"] = pd.to_numeric(df["λ²•μ •λ™μ½”λ“"], errors="coerce")
df = df.dropna(subset=["λ²•μ •λ™μ½”λ“", "λ²•μ •λ™λ…"])

df["λ²•μ •λ™μ½”λ“"] = df["λ²•μ •λ™μ½”λ“"].astype("int64")
df["λ²•μ •λ™λ…"] = df["λ²•μ •λ™λ…"].astype(str).str.strip()

# μ„μΈλ§
df = df[df["λ²•μ •λ™λ…"].str.startswith("μ„μΈνΉλ³„μ‹")]

# νμ§€ μ μ™Έ
df["νμ§€μ—¬λ¶€"] = df["νμ§€μ—¬λ¶€"].astype(str).str.strip()
df = df[df["νμ§€μ—¬λ¶€"] != "νμ§€"]

df.head()

        λ²•μ •λ™μ½”λ“           λ²•μ •λ™λ… νμ§€μ—¬λ¶€
0  1100000000          μ„μΈνΉλ³„μ‹   μ΅΄μ¬
1  1111000000      μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬   μ΅΄μ¬
2  1111010100  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ²­μ΄λ™   μ΅΄μ¬
3  1111010200  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ‹ κµλ™   μ΅΄μ¬
4  1111010300  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ κ¶μ •λ™   μ΅΄μ¬

In [16]:
# 3οΈβƒ£ π”‘ 10μλ¦¬ β†’ 8μλ¦¬ ν–‰μ •λ™μ½”λ“ μƒμ„± (ν•µμ‹¬)

In [9]:
# 10μλ¦¬ λ²•μ •λ™μ½”λ“ β†’ 8μλ¦¬ ν–‰μ •λ™μ½”λ“
df["ν–‰μ •λ™μ½”λ“"] = (
    df["λ²•μ •λ™μ½”λ“"]
    .astype(str)
    .str.slice(0, 8)
    .astype("int64")
)

In [17]:
# 4οΈβƒ£ μ‹λ„ / κµ¬ / λ™ λ¶„λ¦¬

In [10]:
parts = df["λ²•μ •λ™λ…"].str.split(r"\s+", expand=True)

df["μ‹λ„λ…"] = parts[0]
df["μ‹κµ°κµ¬λ…"] = parts[1]
df["ν–‰μ •λ™λ…"] = parts[2]

df[["ν–‰μ •λ™μ½”λ“","λ²•μ •λ™μ½”λ“","μ‹λ„λ…","μ‹κµ°κµ¬λ…","ν–‰μ •λ™λ…"]].head()

      ν–‰μ •λ™μ½”λ“       λ²•μ •λ™μ½”λ“    μ‹λ„λ…  μ‹κµ°κµ¬λ…  ν–‰μ •λ™λ…
0  11000000  1100000000  μ„μΈνΉλ³„μ‹  None  None
1  11110000  1111000000  μ„μΈνΉλ³„μ‹   μΆ…λ΅κµ¬  None
2  11110101  1111010100  μ„μΈνΉλ³„μ‹   μΆ…λ΅κµ¬   μ²­μ΄λ™
3  11110102  1111010200  μ„μΈνΉλ³„μ‹   μΆ…λ΅κµ¬   μ‹ κµλ™
4  11110103  1111010300  μ„μΈνΉλ³„μ‹   μΆ…λ΅κµ¬   κ¶μ •λ™

In [18]:
# 5οΈβƒ£ dim ν…μ΄λΈ”μ© DataFrame μƒμ„±

In [11]:
dim = df[
    ["ν–‰μ •λ™μ½”λ“", "λ²•μ •λ™μ½”λ“", "μ‹λ„λ…", "μ‹κµ°κµ¬λ…", "ν–‰μ •λ™λ…"]
].copy()

dim["full_name"] = (
    dim["μ‹λ„λ…"] + " " +
    dim["μ‹κµ°κµ¬λ…"] + " " +
    dim["ν–‰μ •λ™λ…"]
)

# 8μλ¦¬ ν–‰μ •λ™μ½”λ“ κΈ°μ¤€ μ¤‘λ³µ μ κ±°
dim = dim.drop_duplicates(subset=["ν–‰μ •λ™μ½”λ“"])

dim.info()

<class 'pandas.core.frame.DataFrame'>
Index: 493 entries, 0 to 1111
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ν–‰μ •λ™μ½”λ“      493 non-null    int64
 1   λ²•μ •λ™μ½”λ“      493 non-null    int64
 2   μ‹λ„λ…        493 non-null    object
 3   μ‹κµ°κµ¬λ…       492 non-null    object
 4   ν–‰μ •λ™λ…       467 non-null    object
 5   full_name  467 non-null    object
dtypes: int64(2), object(4)
memory usage: 27.0+ KB

In [19]:
# 6οΈβƒ£ MySQL INSERT (pymysql)

In [20]:
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="********",
    db="seoul",
    port=3306,
    charset="utf8mb4",
    autocommit=False
)

sql = """
INSERT INTO dim_admin_dong
(ν–‰μ •λ™μ½”λ“, λ²•μ •λ™μ½”λ“, μ‹λ„λ…, μ‹κµ°κµ¬λ…, ν–‰μ •λ™λ…, full_name)
VALUES (%s,%s,%s,%s,%s,%s)
ON DUPLICATE KEY UPDATE
  λ²•μ •λ™μ½”λ“=VALUES(λ²•μ •λ™μ½”λ“),
  μ‹λ„λ…=VALUES(μ‹λ„λ…),
  μ‹κµ°κµ¬λ…=VALUES(μ‹κµ°κµ¬λ…),
  ν–‰μ •λ™λ…=VALUES(ν–‰μ •λ™λ…),
  full_name=VALUES(full_name)
"""

data = (
    dim.astype(object)
       .where(pd.notnull(dim), None)
       .values.tolist()
)

with conn.cursor() as cur:
    cur.executemany(sql, data)

conn.commit()
conn.close()

print("β… dim_admin_dong μ μ¬ μ™„λ£:", len(dim))

IntegrityError: (1048, "Column 'μ‹κµ°κµ¬λ…' cannot be null")

In [ ]:
# β€λ™κΉμ§€ μλ” ν–‰β€λ§ λ‚¨κΈ°κ³  dimμ— λ„£κΈ°

# λ²•μ •λ™λ…μ΄ μµμ† 3ν† ν°(μ‹λ„/κµ¬/λ™)μ„ κ°€μ§„ ν–‰λ§ ν•„ν„°ν•λ©΄ λ.

In [22]:
import pandas as pd
import numpy as np
import pymysql

path = r"C:/Users/user/Documents/μ„μΈμ‹_ν¬ν΄/λ²•μ •λ™μ½”λ“ μ „μ²΄μλ£.txt"

# 1) λ‹¨μΌ μ»¬λΌ(νƒ­ ν¬ν•¨)λ΅ μ½ν μƒνƒμ—μ„ κ°•μ  λ¶„λ¦¬
raw = pd.read_csv(path, encoding="cp949")
col0 = raw.columns[0]

df = raw[col0].astype(str).str.split("\t", expand=True)
df.columns = ["λ²•μ •λ™μ½”λ“", "λ²•μ •λ™λ…", "νμ§€μ—¬λ¶€"]
df.columns = df.columns.str.strip()

# 2) κΈ°λ³Έ μ •λ¦¬
df["λ²•μ •λ™μ½”λ“"] = pd.to_numeric(df["λ²•μ •λ™μ½”λ“"], errors="coerce")
df["λ²•μ •λ™λ…"] = df["λ²•μ •λ™λ…"].astype(str).str.strip()
df["νμ§€μ—¬λ¶€"] = df["νμ§€μ—¬λ¶€"].astype(str).str.strip()

df = df.dropna(subset=["λ²•μ •λ™μ½”λ“", "λ²•μ •λ™λ…"])
df["λ²•μ •λ™μ½”λ“"] = df["λ²•μ •λ™μ½”λ“"].astype("int64")

# 3) μ„μΈλ§ + νμ§€ μ μ™Έ
df = df[df["λ²•μ •λ™λ…"].str.startswith("μ„μΈνΉλ³„μ‹")]
df = df[df["νμ§€μ—¬λ¶€"] != "νμ§€"]

# 4) β… (ν•µμ‹¬) μ‹/κµ¬/λ™ ν† ν° 3κ° μ΄μƒμΈ ν–‰λ§ μ μ§€
tokens = df["λ²•μ •λ™λ…"].str.split(r"\s+")
df = df[tokens.str.len() >= 3].copy()

# 5) μ‹λ„/κµ¬/λ™ λ¶„λ¦¬ (μ΄μ  None κ±°μ μ• μƒκΉ€)
parts = df["λ²•μ •λ™λ…"].str.split(r"\s+", expand=True)
df["μ‹λ„λ…"] = parts[0]
df["μ‹κµ°κµ¬λ…"] = parts[1]
df["ν–‰μ •λ™λ…"] = parts[2]

# 6) 10μλ¦¬ β†’ 8μλ¦¬ ν–‰μ •λ™μ½”λ“ μƒμ„±
df["ν–‰μ •λ™μ½”λ“"] = df["λ²•μ •λ™μ½”λ“"].astype(str).str.slice(0, 8).astype("int64")

# 7) dim μƒμ„±
dim = df[["ν–‰μ •λ™μ½”λ“", "λ²•μ •λ™μ½”λ“", "μ‹λ„λ…", "μ‹κµ°κµ¬λ…", "ν–‰μ •λ™λ…"]].copy()
dim["full_name"] = dim["μ‹λ„λ…"] + " " + dim["μ‹κµ°κµ¬λ…"] + " " + dim["ν–‰μ •λ™λ…"]

# 8μλ¦¬ κΈ°μ¤€ μ¤‘λ³µ μ κ±°
dim = dim.drop_duplicates(subset=["ν–‰μ •λ™μ½”λ“"]).copy()

# β… λ§μ§€λ§‰ μ•μ „λ§: ν•„μ μ»¬λΌ NULL μ κ±° (PK/NOT NULL λ³΄νΈ)
dim = dim.dropna(subset=["ν–‰μ •λ™μ½”λ“", "λ²•μ •λ™μ½”λ“", "μ‹λ„λ…", "μ‹κµ°κµ¬λ…", "ν–‰μ •λ™λ…"])

print("dim rows:", len(dim))
print(dim.head())

# 8) MySQL insert (NULL μ•μ „)
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="*******!",
    db="seoul",
    port=3306,
    charset="utf8mb4",
    autocommit=False
)

sql = """
INSERT INTO dim_admin_dong
(ν–‰μ •λ™μ½”λ“, λ²•μ •λ™μ½”λ“, μ‹λ„λ…, μ‹κµ°κµ¬λ…, ν–‰μ •λ™λ…, full_name)
VALUES (%s,%s,%s,%s,%s,%s)
ON DUPLICATE KEY UPDATE
  λ²•μ •λ™μ½”λ“=VALUES(λ²•μ •λ™μ½”λ“),
  μ‹λ„λ…=VALUES(μ‹λ„λ…),
  μ‹κµ°κµ¬λ…=VALUES(μ‹κµ°κµ¬λ…),
  ν–‰μ •λ™λ…=VALUES(ν–‰μ •λ™λ…),
  full_name=VALUES(full_name)
"""

data = dim.astype(object).where(pd.notnull(dim), None).values.tolist()

with conn.cursor() as cur:
    cur.executemany(sql, data)

conn.commit()
conn.close()

print("β… dim_admin_dong μ μ¬ μ™„λ£:", len(dim))

dim rows: 467
      ν–‰μ •λ™μ½”λ“       λ²•μ •λ™μ½”λ“    μ‹λ„λ… μ‹κµ°κµ¬λ… ν–‰μ •λ™λ…      full_name
2  11110101  1111010100  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  μ²­μ΄λ™  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ²­μ΄λ™
3  11110102  1111010200  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  μ‹ κµλ™  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ‹ κµλ™
4  11110103  1111010300  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  κ¶μ •λ™  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ κ¶μ •λ™
5  11110104  1111010400  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  ν¨μλ™  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ ν¨μλ™
6  11110105  1111010500  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  μ°½μ„±λ™  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ°½μ„±λ™
β… dim_admin_dong μ μ¬ μ™„λ£: 467

In [ ]:
df = pd.read_csv("C:/Users/user/Documents/μ„μΈμ‹_ν¬ν΄/λ²•μ •λ™μ½”λ“ μ „μ²΄μλ£.txt", encoding="cp949")

In [23]:
import pandas as pd

path = r"C:/Users/user/Documents/μ„μΈμ‹_ν¬ν΄/ν–‰μ •λ™_μ½”λ“_κΉ€ν™μ‹_.xlsx"

df = pd.read_excel(path)
df.head()

      ν–‰μ •λ™μ½”λ“    μ‹λ„λ… μ‹κµ°κµ¬λ…   μλ©΄λ™λ…
0  11110515  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  μ²­μ΄ν¨μλ™
1  11110530  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    μ‚¬μ§λ™
2  11110540  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    μ‚Όμ²­λ™
3  11110550  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    λ¶€μ•”λ™
4  11110560  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    ν‰μ°½λ™

In [24]:
import pandas as pd
import pymysql

# ===== 1. μ—‘μ…€ μ½κΈ° =====
path = r"C:/Users/user/Documents/μ„μΈμ‹_ν¬ν΄/ν–‰μ •λ™_μ½”λ“_κΉ€ν™μ‹_.xlsx"  # μ‹¤μ  νμΌλ…μΌλ΅ μμ •

df = pd.read_excel(
    path,
    dtype={"ν–‰μ •λ™μ½”λ“": str}   # μ½”λ“ κΉ¨μ§ λ°©μ§€
)

df.columns = df.columns.str.strip()

# μ»¬λΌλ… ν‘μ¤€ν™”
df = df.rename(columns={
    "μλ©΄λ™λ…": "ν–‰μ •λ™λ…"
})

df.head()

      ν–‰μ •λ™μ½”λ“    μ‹λ„λ… μ‹κµ°κµ¬λ…   ν–‰μ •λ™λ…
0  11110515  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  μ²­μ΄ν¨μλ™
1  11110530  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    μ‚¬μ§λ™
2  11110540  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    μ‚Όμ²­λ™
3  11110550  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    λ¶€μ•”λ™
4  11110560  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    ν‰μ°½λ™

In [25]:
# ===== 2. μ „μ²λ¦¬ =====
df = df.copy()

# ν–‰μ •λ™μ½”λ“ β†’ int (8μλ¦¬ μ μ§€)
df["ν–‰μ •λ™μ½”λ“"] = pd.to_numeric(df["ν–‰μ •λ™μ½”λ“"], errors="coerce")
df = df.dropna(subset=["ν–‰μ •λ™μ½”λ“", "μ‹λ„λ…", "μ‹κµ°κµ¬λ…", "ν–‰μ •λ™λ…"])
df["ν–‰μ •λ™μ½”λ“"] = df["ν–‰μ •λ™μ½”λ“"].astype("int64")

# λ¬Έμμ—΄ μ •λ¦¬
for c in ["μ‹λ„λ…", "μ‹κµ°κµ¬λ…", "ν–‰μ •λ™λ…"]:
    df[c] = df[c].astype(str).str.strip()

# μ„μΈλ§ (μ•μ „μ¥μΉ)
df = df[df["μ‹λ„λ…"] == "μ„μΈνΉλ³„μ‹"]

# full_name μƒμ„±
df["full_name"] = (
    df["μ‹λ„λ…"] + " " +
    df["μ‹κµ°κµ¬λ…"] + " " +
    df["ν–‰μ •λ™λ…"]
)

# μ¤‘λ³µ μ κ±° (ν–‰μ •λ™μ½”λ“ κΈ°μ¤€)
df = df.drop_duplicates(subset=["ν–‰μ •λ™μ½”λ“"])

print("rows:", len(df))
df.head()

rows: 426

      ν–‰μ •λ™μ½”λ“    μ‹λ„λ… μ‹κµ°κµ¬λ…   ν–‰μ •λ™λ…        full_name
0  11110515  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬  μ²­μ΄ν¨μλ™  μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ²­μ΄ν¨μλ™
1  11110530  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    μ‚¬μ§λ™    μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ‚¬μ§λ™
2  11110540  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    μ‚Όμ²­λ™    μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ μ‚Όμ²­λ™
3  11110550  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    λ¶€μ•”λ™    μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ λ¶€μ•”λ™
4  11110560  μ„μΈνΉλ³„μ‹  μΆ…λ΅κµ¬    ν‰μ°½λ™    μ„μΈνΉλ³„μ‹ μΆ…λ΅κµ¬ ν‰μ°½λ™

## λ°μ΄ν„° μ μ¬

In [26]:
# ===== 3. MySQL INSERT =====
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="Abcd1234!",
    db="seoul",
    port=3306,
    charset="utf8mb4",
    autocommit=False
)

sql = """
INSERT INTO dim_admin_dong
(ν–‰μ •λ™μ½”λ“, μ‹λ„λ…, μ‹κµ°κµ¬λ…, ν–‰μ •λ™λ…, full_name)
VALUES (%s,%s,%s,%s,%s)
ON DUPLICATE KEY UPDATE
  μ‹λ„λ…=VALUES(μ‹λ„λ…),
  μ‹κµ°κµ¬λ…=VALUES(μ‹κµ°κµ¬λ…),
  ν–‰μ •λ™λ…=VALUES(ν–‰μ •λ™λ…),
  full_name=VALUES(full_name)
"""

data = (
    df[["ν–‰μ •λ™μ½”λ“","μ‹λ„λ…","μ‹κµ°κµ¬λ…","ν–‰μ •λ™λ…","full_name"]]
      .astype(object)
      .where(pd.notnull(df), None)
      .values.tolist()
)

with conn.cursor() as cur:
    cur.executemany(sql, data)

conn.commit()
conn.close()

print("β… dim_admin_dong μ μ¬ μ™„λ£:", len(df))

β… dim_admin_dong μ μ¬ μ™„λ£: 426